{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>


<p>Symfony Demo application
The best Symfony learning resource and the reference to develop applications following the official best practices.

Download</p>

<p>Symfony Demo application
The best Symfony learning resource and the reference to develop applications following the official best practices.

Download</p>
{% endblock %}

